<div class="container">
  <div class="ui-g">
    <p-dataTable [value]="requests">
      <p-column field="id" header="Pieprasījuma numurs" [sortable]="true"></p-column>
      <p-column field="create_date" header="Izveidošanas datums" [sortable]="true"></p-column>
      <p-column field="status" header="Statuss" [sortable]="true"></p-column>
      <p-column header="Pieejamas operācijas">
        <template let-req="rowData" pTemplate type="body">
            <button type="button" pButton (click)="view(req)" icon="fa-eye" pTooltip="Apskatīt"></button>
            <button *ngIf="userType == 'employee' && req['status'] == 'Procesā'" type="button" pButton (click)="approve(req)" icon="fa-check-circle" pTooltip="Apstiprināt" tooltipPosition="top"></button>
            <button *ngIf="userType == 'employee' && req['status'] == 'Procesā'" type="button" pButton (click)="decline(req)" icon="fa-ban" pTooltip="Noraidīt" tooltipPosition="top"></button>            
        </template>
      </p-column>
    </p-dataTable>
  </div>
</div>