.header {
  height: 70px;  
  background: rgba(0,0,0,0.1);
}

.header .row {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.header .logo {
  font-size: 28px;
  line-height: 70px;
}

.header .auth-btn {
  margin: auto 0;  
}

.auth-form {
  text-align: center;  
}

.auth-form .form-input {
  display: block;
  margin: 10px auto;
}