<p-confirmDialog icon="fa fa-question-circle" width="425" [closable]="false" #cd>
	<footer>
		<button type="button" pButton icon="fa-close" label="Nē" (click)="cd.reject()"></button>
		<button type="button" pButton icon="fa-check" label="Jā" (click)="cd.accept()"></button>
	</footer>
</p-confirmDialog>

<msg-comp [msgs]="notifications" [life]="5000" (hideNotificationEvent)="hideMessage($event)"></msg-comp>

<div class="container">
	<button type="button" (click)="return()" pButton label="Atgriezties pie saraksta"></button>
	<div *ngIf="sourceRequest" class="ui-g">
		<div class="request-form" [ngSwitch]="sourceRequest['persons_type']">
			<div *ngSwitchCase="'physical'">
				<form [formGroup]="requestForm">
					<div formGroupName="organizer" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Pasākuma organizators</span>
						<div class="form-subgroup">
							<span class="form-label">Vārds</span>
							<input class="form-input" formControlName="name" type="text" pInputText />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Personas kods</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false"></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Dzīvesvietas adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="guard" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Tehnisko drošību atbildīgā persona</span>
						<div class="form-subgroup">
							<span class="form-label">Vārds</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Personas kods</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Dzīvesvietas adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="social_guard" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Sabiedrisko kārtību un drošību atbildīgā persona</span>
						<div class="form-subgroup">
							<span class="form-label">Vārds</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Personas kods</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Dzīvesvietas adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="support" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Kārtības uzturētāja persona</span>
						<div class="form-subgroup">
							<span class="form-label">Vārds</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Personas kods</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Dzīvesvietas adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma nosaukums, veids un mērķis</span>
							<textarea formControlName="description" rows="5" cols="30" pInputTextarea required></textarea>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma norises vieta</span>
							<textarea formControlName="address" rows="5" cols="30" pInputTextarea required></textarea>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma sākuma datums</span>
							<div>
								<input class="form-input" type="text" pInputText formControlName="start_date" required placeholder="dd/mm/yyyy" />
								<input class="form-input" type="text" pInputText formControlName="start_time" required placeholder="hh:mm" />
							</div>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma beiguma datums</span>
							<div>
								<input class="form-input" type="text" pInputText formControlName="end_date" required placeholder="dd/mm/yyyy" />
								<input class="form-input" type="text" pInputText formControlName="end_time" required placeholder="hh:mm" />
							</div>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<div class="form-subgroup column">
							<span class="form-label">Plānotais pasākuma apmeklētāju skaits</span>
							<input class="form-input" formControlName="visitors" type="text" pInputText required />
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Plānotais pasākuma dalībnieku skaits</span>
							<input class="form-input" formControlName="participants" type="text" pInputText required />
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div class="form-subgroup column">
							<span class="form-label">Pasākumā izmantojamās bīstamās iekārtas</span>
							<textarea rows="5" cols="30" formControlName="dangerous" pInputTextarea></textarea>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma netraucētai un drošai norisei nepieciešamais valsts un pašvaldības iestāžu atbalsts</span>
							<textarea rows="5" cols="30" formControlName="gov_dangerous_response" pInputTextarea></textarea>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div *ngIf="userType == 'user'" class="form-subgroup column">
							<span class="form-label">Komentārs no pašvaldības</span>
							<textarea rows="5" cols="30" pInputTextarea disabled>{{ comment }}</textarea>						
						</div>
						<div *ngIf="userType == 'employee'" class="form-subgroup column">
							<span class="form-label">Komentārs savam lēmumam</span>
							<textarea rows="5" cols="30" pInputTextarea #comment></textarea>						
						</div>
						<div *ngIf="userType == 'employee'" class="form-subgroup ui-g-6 column">
							<button type="button" icon="fa-check" iconPos="left" pButton label="Apstiprināt" (click)="approve(comment.value)"></button>
						</div>
						<div *ngIf="userType == 'employee'" class="form-subgroup ui-g-6 column">
							<button type="button" icon="fa-ban" iconPos="left" pButton label="Noraidīt" (click)="decline(comment.value)"></button>
						</div>
					</div>
				</form>
			</div>
			<div *ngSwitchCase="'legal'">
				<form [formGroup]="requestLawForm">
					<div formGroupName="organizer" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Pasākuma organizators</span>
						<div class="form-subgroup">
							<span class="form-label">Jūridiskā persona</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Reģistrācijas numurs</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Juridiskā adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="guard" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Tehnisko drošību atbildīgā persona</span>
						<div class="form-subgroup">
							<span class="form-label">Jūridiskā persona</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Reģistrācijas numurs</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Juridiskā adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="social_guard" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Sabiedrisko kārtību un drošību atbildīgā persona</span>
						<div class="form-subgroup">
							<span class="form-label">Jūridiskā persona</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Reģistrācijas numurs</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Juridiskā adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div formGroupName="support" class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<span class="form-label form-header">Kārtības uzturētāja persona</span>
						<div class="form-subgroup">
							<span class="form-label">Jūridiskā persona</span>
							<input class="form-input" formControlName="name" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Reģistrācijas kods</span>
							<p-inputMask class="form-mask" formControlName="person_code" mask="999999-99999" placeholder="999999-99999" slotChar="x"
								[autoClear]="false" required></p-inputMask>
						</div>
						<div class="form-subgroup">
							<span class="form-label">Juridiskā adrese</span>
							<input class="form-input" formControlName="address" type="text" pInputText required />
						</div>
						<div class="form-subgroup">
							<span class="form-label">Tālrunis</span>
							<p-inputMask class="form-mask" formControlName="phone" mask="29999999" placeholder="29999999" slotChar="x" [autoClear]="false"></p-inputMask>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma nosaukums, veids un mērķis</span>
							<textarea formControlName="description" rows="5" cols="30" pInputTextarea required></textarea>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma norises vieta</span>
							<textarea formControlName="address" rows="5" cols="30" pInputTextarea required></textarea>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma sākuma datums</span>
							<div>
								<input class="form-input" type="text" pInputText formControlName="start_date" required placeholder="dd/mm/yyyy" />
								<input class="form-input" type="text" pInputText formControlName="start_time" required placeholder="hh:mm" />
							</div>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma beiguma datums</span>
							<div>
								<input class="form-input" type="text" pInputText formControlName="end_date" required placeholder="dd/mm/yyyy" />
								<input class="form-input" type="text" pInputText formControlName="end_time" required placeholder="hh:mm" />
							</div>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-6 ui-lg-6">
						<div class="form-subgroup column">
							<span class="form-label">Plānotais pasākuma apmeklētāju skaits</span>
							<input class="form-input" formControlName="visitors" type="text" pInputText required />
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Plānotais pasākuma dalībnieku skaits</span>
							<input class="form-input" formControlName="participants" type="text" pInputText required />
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div class="form-subgroup column">
							<span class="form-label">Pasākumā izmantojamās bīstamās iekārtas</span>
							<textarea rows="5" cols="30" formControlName="dangerous" pInputTextarea></textarea>
						</div>
						<div class="form-subgroup column">
							<span class="form-label">Pasākuma netraucētai un drošai norisei nepieciešamais valsts un pašvaldības iestāžu atbalsts</span>
							<textarea rows="5" cols="30" formControlName="gov_dangerous_response" pInputTextarea></textarea>
						</div>
					</div>
					<div class="form-group ui-g-12 ui-md-12 ui-lg-12">
						<div class="form-subgroup column">
							<span class="form-label">Komentārs savam lēmumam</span>
							<textarea rows="5" cols="30" pInputTextarea #comment></textarea>						
						</div>
						<div class="form-subgroup ui-g-6 column">
							<button type="button" icon="fa-check" iconPos="left" pButton label="Apstiprināt" (click)="approve(comment.value)"></button>
						</div>
						<div class="form-subgroup ui-g-6 column">
							<button type="button" icon="fa-ban" iconPos="left" pButton label="Noraidīt" (click)="decline(comment.value)"></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>